* {
    font-family: sans-serif;


}

main {
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;

}

header {
    width: 100%;
    height: 100px;
    background-color: #2ba9d3;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 400px;
}

.logo {
    height: 60px;
    margin-top: 40px;
    margin-left: 10px;
}

.maintitle {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.autor {
    font-size: 18px;
    color: gray;
}

.image {
    max-width: 100%;    
    height: auto;
}

h1 {
    margin: 0;
}

.date  {
   font-size: 15px; 
}

.credits {
    font-size: 10px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #2ba9d3;
    text-align: left;
    color: white;
}

tr:nth-child(even) {
    background-color: lightblue;
}

td {
    width: 90px;
}

