* {
    font-family: sans-serif;
    padding:0px;
    margin:0px;


}


.conteiner {
    margin: auto;
    max-width: 1020px;
    vertical-align: middle;

}

header {
    width: 100%;
    height: 100px;
    background-color: #2ba9d3;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 400px;

}

.logo {
    height: 60px;
    margin-top: 40px;
}

.maintitle {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.autor {
    font-size: 18px;
    color: gray;
}

.image {
    width: auto;    
    height: auto;
    position: relative;
}

h1 {
    margin: 0;
}

.date  {
   font-size: 15px; 
}

.credits {
    font-size: 10px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #2ba9d3;
    text-align: left;
    color: white;
    padding: 5px;

}

tr:nth-child(even) {
    background-color: lightblue;
}

td {
    width: 90px;
    padding: 5px;
}

.onimage {
    position: absolute;
    top: 10px;
    left: 16px;
    color: white;
    font-weight: bold;

}
