* {
    font-family: sans-serif;


}

body {
    background-color: white;
    width: auto;
}

header {
    width: 100%;
    height: 100px;
    background-color: #2ba9d3;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 400px;
}

.logo {
    height: 60px;
    margin-top: 40px;
    margin-left: 10px;
}

.maintitle {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.autor {
    font-size: 18px;
    color: gray;
}

h1 {
    margin: 0;
}

.date  {
   font-size: 15px; 
}

.credits {
    font-size: 10px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}